.DS_Store
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.egg
*.egg-info/
*.env
.mypy_cache
.pytest_cache/
.streamlit/secrets.toml
/scripts/
~$*
.ruff_cache/
.coverage
htmlcov/
dist/
build/
.idea/
.vscode/
